:root {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f5f6fa;
  color: #1f2329;
}
.app-main.no-aside .home {
  padding: 16px;
}
.dark body {
  background-color: #1d1e26;
  color: #e5e7eb;
}

a {
  color: inherit;
  text-decoration: none;
}

#app {
  min-height: 100vh;
}
